<!DOCTYPE  html>
<html>
<head>
	<link rel="stylesheet" href="font.css" type="text/css">
	<link  href="{{ url_for('static', filename='css/genericPage.css') }}"rel="stylesheet"/>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/pageStyling.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/silverHpFunctions.js.js') }}"></script>
	<style>
@font-face
{
  font-family: MedievalSharp;
  src:url("{{ url_for('static', filename='MedievalSharp-Book.woff')}}");
  font-weight: normal;
  font-style: normal;
}
head{
        font-family: MedievalSharp;
	}
body{
        font-family: MedievalSharp;
	}
</style>

	<h2 id="locationTitle">Attack the Bandits</h2>
</head>
<body>
	<div class="storyBox">
			<img id="picture"img src={{url_for('static', filename='img/twoBandits.jpg')}}></img>

			<div class="storyText">
				<p id="story1">
					You throw a handful of dirt at the bandits. The leader turns his head away just in time 
					but the other gets a face full of it and struggles to see. 
					You attack and hack down the blinded bandit,Luckily your sword is an effective
					weapon and you hack down the bandit.
				</p>
				<script>
					var weaponStatus = sessionStorage.getItem('weapon');
										
					if(weaponStatus=='no')
					{
						document.getElementById('story1').innerHTML="You throw a handful of dirt at the bandits. The leader turns his head away just in time but the other gets a face full of it and struggles to see. You attack and hack down the blinded bandit, but you are hurt in the process";
						setTimeout(reduceHp,3000,10);
						setTimeout(deadCheck,4000,);
					}

				</script>
				
				
			</div>
			<ul class="optionsCont">
				<li><a href="/finalBoss1/"></a>Face the bandit Leader</li>
				<li><a href="/runAway/">Run away</a></li>
				
				
	</div>	
	
</body>
</html>

<script>

		var name= sessionStorage.getItem('name')
		var colour= fetchColour(name);
		
		locationTitle.style.color = colour;
		classChoice.style.color = colour;
			
		fetchIcon(name);
		
		if(name=='scribe')
		{
			document.getElementById('knowLocation').href="/bandit1/";
			
		}	

</script>
