<!DOCTYPE html>
<html>
<head>
  <link href="{{ url_for('static', filename='css/charClassChoice.css') }} " rel="stylesheet" />
  <link rel="stylesheet" href="charClassChoice.css" type="text/css">
  <script src="cw.js"></script>
	<script>
	sessionStorage.setItem('silver', Number(100));
	sessionStorage.setItem('armour', 'no');
	sessionStorage.setItem('training', 'no');
	sessionStorage.setItem('weapon', 'no');
	</script>

<style>
@font-face
{
  font-family: MedievalSharp;
  src:url("{{ url_for('static', filename='MedievalSharp-Book.woff')}}");
  font-weight: normal;
  font-style: normal;
 }
head{
	        font-family: MedievalSharp;
        font-weight: normal;
        font-style: normal;
}

body{
	font-family:MedievalSharp;
	font-weight: normal;
	font-style: normal;
}
</style>
<meta  charset="UTF -8"/>
<h2>Choose Your Class<h2>
<h3>Select a character class that reflect your play style. Your class will
  affect some of the options during the game.</h3>
</head>
<body>
  <div class="charChoices">
    <div class="scribeChoice">
	<p> <a href="/storyIntro/" id="charPicsS" onclick="sessionStorage.setItem('name', 'scribe');sessionStorage.setItem('hitPoints',Number(30));sessionStorage.setItem('knowledge', 'yes');"> <img src="{{ url_for('static', filename='img/scribeChar.jpg') }}" width=162, height=346 /></a></p>
      <a href="/storyIntro/" id="scribeTitle"onclick="sessionStorage.setItem('name', 'scribe');sessionStorage.setItem('hitPoints', Number(30));sessionStorage.setItem('knowledge', 'yes');">The Scribe</a>
      <p id="scribeText">A character that relies on intelligence and wit.</p>
	<script>
	 var sPic = document.getElementById('charPicsS');
sPic.addEventListener("click", sessionStorage.setItem('hello', 'hi);

	</script>
    </div>

    <div class="knightChoice">
      <a href="/storyIntro/" id="charPics" onclick="sessionStorage.setItem('name', 'knight');sessionStorage.setItem('hitPoints',Number(50));sessionStorage.setItem('knowledge', 'no');"> <img src="{{ url_for('static', filename='img/knightChar.jpg') }}" width=162, height=346 /></a>
      <p><a href="/storyIntro/" id="knightTitle" onclick="sessionStorage.setItem('name', 'knight');sessionStorage.setItem('hitPoints',Number(50));sessionStorage.setItem('knowledge', 'no');">The Knight</a></p>
      <p id="scribeText">A character that relies on his chivalry and skill.</p>
    </div>

    <div class="bruteChoice">
	    <a href="/storyIntro/" id="charPics" onclick="sessionStorage.setItem('name', 'brute');sessionStorage.setItem('hitPoints',Number(50));sessionStorage.setItem('knowledge', 'no');"> <img src="{{ url_for('static', filename='img/bruteChar.jpg') }}" width=162, height=346 /></a>
	    <p><a href="/storyIntro/" id="bruteTitle" onclick="sessionStorage.setItem('name', 'brute');sessionStorage.setItem('hitPoints',Number(50));sessionStorage.setItem('knowledge', 'no');">The Brute</a></p>
      <p id="scribeText">A character that relies on strength and force.</p>
    </div>


</body>

<script>
	sessionStorage.setItem('test', 'HI');
	var sPic = document.getElementById('charPicsS');
sPic.addEventListener("click", storeScribe());
	var sWord = document.getElementById('charPicsS');
	sWord.addEventListener('click', storeScribe);

function mouseHoverFunction(){
	document.getElementById('scribeTitle').innerHTML += "MOUSE HOVER!!!<br>";

function storeScribe(){
localStorage.setItem('armour', 'no');
        sessionStorage.setItem('training', 'no');
        sessionStorage.setItem('weapon', 'no');
  sessionStorage.setItem('name', 'scribe');
  sessionStorage.setItem('hitPoints', 30);
  sessionStorage.setItem('knowledge', 'yes');
 
}
function storeKnight(){
	  sessionStorage.setItem('name', 'knight');
  sessionStorage.setItem('hitPoints', Number(50));
 sessionStorage.setItem('knowledge', 'no');
  sessionStorage.setItem('test', 'hi');

}
function storeBrute(){
	sessionStorage.setItem('name', 'brute');
  sessionStorage.setItem('hitPoints', Number(50));
  sessionStorage.setItem('knowledge', 'no');
  document.cookie='name=brute';
  document.cookie='hitpoints=50;
  document.cookie='knowledge=no';

}
</script>
</html>
