<!DOCTYPE  html>
<html>
<head>
	<link rel="stylesheet" href={{ url_for('static', filename='css/font.css') }}" type="text/css">
	<link  href="{{ url_for('static', filename='css/genericPage.css') }}"rel="stylesheet"/>
	<meta  charset="UTF -8">
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/pageStyling.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/silverHpFunctions.js.js') }}"></script>
																 <style>
@font-face
{
  font-family: MedievalSharp;
  src:url("{{ url_for('static', filename='MedievalSharp-Book.woff')}}");
  font-weight: normal;
  font-style: normal;
}
head{
        font-family: MedievalSharp;
	}
body{
        font-family: MedievalSharp;
	}
</style>

  <h2 id="locationTitle">A Bad Idea</h2>
  
</head>
<body>

	<div class="storyBox">
	<img id="picture"img src={{url_for('static', filename='img/chasedThem.jpg')}}></img>

		<div style="font-size:26px;" class="storyText">
			<p>
				As you are injured, you can only swing wildly at the bandits. 
				You miss, they laugh. You then feel an intense pain in your back 
				as a spear is thrust into it. You fall to the ground.
			</p>

		</div>
	</div>
		<script>
			setTimeout(reduceHp,2000,30);
			setTimeout(deadCheck,3000);

		</script>

				
</body>
</html>

 <script>
		var name= sessionStorage.getItem('name')
	
		var colour= fetchColour(name);
		
		locationTitle.style.color = colour;

	
		fetchIcon(name);


</script>
