<!DOCTYPE  html>
<html>
<head>
	<link rel="stylesheet" href={{ url_for('static', filename='css/font.css') }}" type="text/css">
	<link  href="{{ url_for('static', filename='css/genericPage.css') }}"rel="stylesheet"/>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/pageStyling.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/silverHpFunctions.js.js') }}"></script>
<style>
@font-face
{
  font-family: MedievalSharp;
  src:url("{{ url_for('static', filename='MedievalSharp-Book.woff')}}");
  font-weight: normal;
  font-style: normal;
}
head{
        font-family: MedievalSharp;
	}
body{
        font-family: MedievalSharp;
	}
</style>																 

	<h2 id="locationTitle">Finish It</h2>
</head>
<body>
<div class="storyBox">
			<img id="picture"img src={{url_for('static', filename='img/twoBandits.jpg')}}></img>

			<div class="storyText">
				<p style="font-size:30px;" id="story1">
					The bandit leader is on his knees. Helpless. Now you can complete your revenge. End his life or flee. Will you…
				</p>
				
	
			</div>
			<ul class="optionsCont">
				<li><a href="/winPage/">Finish him off</a></li>
				<li><a href="/runAway/">Run away</a></li>
</body>
</html>	

<script>
	var name= sessionStorage.getItem('name')
	
	var colour= fetchColour(name);
		
	locationTitle.style.color = colour;
	
	
	
	fetchIcon(name);
	
</script>	
