<!DOCTYPE  html>
<html>
<head>
	<link rel="stylesheet" href={{ url_for('static', filename='css/font.css') }}" type="text/css">
	<link  href="{{ url_for('static', filename='css/genericPage.css') }}"rel="stylesheet"/>
	<meta  charset="UTF -8" />
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/pageStyling.js') }}"></script>

	<h2 id="locationTitle">Searching the forrest</h2>
</head>
<body>

	<div class="storyBox">
		<img id="picture"img src={{url_for('static', filename='img/forrest.jpg')}}></img>

		<div class="storyText">
			<p style="font-size:20px;">
				You trudge and falter through the forest in search of the bandit’s lair. 
				You are aware wasting precious time and energy in your efforts, and you wish 
				you had a more precise location to work with. Eventually you smell smoke 
				and hear a fire and stumble on what you think is the bandits camp, 
				unfortunately, you made a lot of noise on your approach and you hear 
				a loud voice shout “who goes there!” Will you…
			</p>

		</div>
		
		<ul class="optionsCont">
			<li><a href="/bandit1NoKnow/">Emerge from the trees and face him.</a></li>
			<li><a href="/village/">Return to the village.</a></li>	
			<li><a href="/runAway/">Run away.</a></li>
	</div>			
	
</body>
</html>

<script>
	var name= sessionStorage.getItem('name')
	
		var colour= fetchColour(name);
		
		locationTitle.style.color = colour;
		classChoice.style.color = colour;
		classChoice2.style.color = colour;
	
		const img = document.createElement("img");
		img.src = fetchIcon(name);

		document.body.appendChild(img);
		img.style.position = "absolute";
		img.style.left = "130px";
		img.style.top = "110px";
		img.style.width = "150px";
		img.style.height = "150px";

</script>	
