<!DOCTYPE html>
<html>
<head>

	<link  href="{{ url_for('static', filename='css/menu.css') }} " rel="stylesheet" /:>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/font/font.css')}}"/>
<meta  charset="UTF -8" />
	<h1>Feudal Vengeance</h1>
	<h2>A Medieval Revenge Adventure</h2>
</head>
<body>

	<ul class="menuOptions">
  <li class="menuClick"><a href="charClassChoice.html">Start Game</a></li>

</body>
<style>
body{
        background-image: url({{ url_for ('static', filename = 'img/titlePic.jpg') }});
}

@font-face {
	  font-family: 'MedievalSharp-Book';
	  src: {{ url_for('static', filename='font/MedievalSharp-Book.woff') }};
      url('MedievalSharp-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  color: red
}
</style>
</html>
