<!DOCTYPE html>
<html>
<head>

	<link  href="{{ url_for('static', filename='css/menu.css') }} " rel="stylesheet" /:>

<meta  charset="UTF -8" />
	<h1>Feudal Vengeance</h1>
	<h2>A Medieval Revenge Adventure</h2>
</head>
<body>

	<ul class="menuOptions">
		<li class="menuClick"><a href="/charChoice/">Start Game</a></li>

</body>
<style>
@font-face
{
  font-family: MedievalSharp;
  src:url("{{ url_for('static', filename='MedievalSharp-Book.woff')}}");
  font-weight: normal;
  font-style: normal;
  color: red
}
body{
        background-image: url({{ url_for ('static', filename = 'img/titlePic.jpg') }});
        h1{
  font-family: MedievalSharp;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  color: red

}

}
h2{
font-family:MedievalSharp;
}
}
</style>
</html>
